In [ ]:
#for loop
for i in range(5):
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
names=["alice","bob","charlie","davis","franken","goerge"]
for i in range(5):
  for name in names:
    print(f"happy birthday,  {name}  !!!!!!!")

happy birthday,  alice  !!!!!!!
happy birthday,  bob  !!!!!!!
happy birthday,  charlie  !!!!!!!
happy birthday,  davis  !!!!!!!
happy birthday,  franken  !!!!!!!
happy birthday,  goerge  !!!!!!!
happy birthday,  alice  !!!!!!!
happy birthday,  bob  !!!!!!!
happy birthday,  charlie  !!!!!!!
happy birthday,  davis  !!!!!!!
happy birthday,  franken  !!!!!!!
happy birthday,  goerge  !!!!!!!
happy birthday,  alice  !!!!!!!
happy birthday,  bob  !!!!!!!
happy birthday,  charlie  !!!!!!!
happy birthday,  davis  !!!!!!!
happy birthday,  franken  !!!!!!!
happy birthday,  goerge  !!!!!!!
happy birthday,  alice  !!!!!!!
happy birthday,  bob  !!!!!!!
happy birthday,  charlie  !!!!!!!
happy birthday,  davis  !!!!!!!
happy birthday,  franken  !!!!!!!
happy birthday,  goerge  !!!!!!!
happy birthday,  alice  !!!!!!!
happy birthday,  bob  !!!!!!!
happy birthday,  charlie  !!!!!!!
happy birthday,  davis  !!!!!!!
happy birthday,  franken  !!!!!!!
happy birthday,  goerge  !!!!!!!

In [ ]:
fruit_basket=["apple", "banana","orange","watermelo","grapes"]

for i in fruit_basket:
  print(i)

apple
banana
orange
watermelo
grapes

In [ ]:
#iterate through the string
word="tanisha aggrawal"
for letter in word:
  print(letter)

t
a
n
i
s
h
a

a
g
g
r
a
w
a
l

In [ ]:
#enumerate by using  for loop
color=["blue", "green", "red"]
for index,color in enumerate(color):
  print(f"{index}:{color}")

0:blue
1:green
2:red

In [ ]:
#break in for loop
for i in range(10):
  if i==5:
    break #stop executing
  print(i)

0
1
2
3
4

In [ ]:
#continue in for loop
for i in range(10):
  if i==5:
    continue #skip 5 and continue printing the rest of numbers
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
#EVEN NUMBERS
for i in range(10):
  if i%2==0:
    print(i)

0
2
4
6
8

In [ ]:
plants=["rose","cactus","orchid","tomato","lilly"]

for plant in plants:
  print(plant)

rose
cactus
orchid
tomato
lilly

In [ ]:
#marketing agent - you want to send 1000 emails to the marketing customers in london
cust=["cusotmer1","customer2","customer3","customer4","customer5"]
for customer in cust:
  print(f"offering 30% discount on new year eve")
  print(f"sending email to {customer}")

offering 30% discount on new year eve
sending email to cusotmer1
offering 30% discount on new year eve
sending email to customer2
offering 30% discount on new year eve
sending email to customer3
offering 30% discount on new year eve
sending email to customer4
offering 30% discount on new year eve
sending email to customer5

In [ ]:
objects=["obj1", "obj2", "obj3"]
for i in objects:
  print(f"make the robotic arm to pick up the {i}")
  print(f"make the robotic arm to drop the {i}")

make the robotic arm to pick up the obj1
make the robotic arm to drop the obj1
make the robotic arm to pick up the obj2
make the robotic arm to drop the obj2
make the robotic arm to pick up the obj3
make the robotic arm to drop the obj3

while loop : the block of code will continue to execute utill the conditions remains true....

In [ ]:

def fill_water_tank(tank_capacity, fill_rate):
  current_volume=0
  time_elapsed=0

  while current_volume<tank_capacity:
    current_volume+=fill_rate
    time_elapsed+=1
  return time_elapsed

#example usage
tank_capacity=1000 #litres
fill_rate=50 #litres per time

time_to_fill=fill_water_tank(tank_capacity, fill_rate)
print(f"it takes {time_to_fill} hours to fill the water tank")

it takes 20 hours to fill the water tank

In [ ]:
#number guessing game
import random
secret_number=random.randint(1,101)
guess=0
attempts=0

print(f" i am thinking of a number from 1 to 100")
while guess!=secret_number:
  guess=int(input("guess the number:"))
  attempts +=1

  if guess < secret_number:
    print("guessed number is too low")
  elif guess > secret_number:
    print("guessed number is too high")

print(f"congratulations! you guessed the number {secret_number} in {attempts} attempts. ")

 i am thinking of a number from 1 to 100
guess the number:45
guessed number is too high
guess the number:23
guessed number is too low
guess the number:35
guessed number is too high
guess the number:30
guessed number is too high
guess the number:33
guessed number is too high
guess the number:31
guessed number is too high
guess the number:32
guessed number is too high
guess the number:30
guessed number is too high
guess the number:25
guessed number is too high
guess the number:20
guessed number is too low
guess the number:22
guessed number is too low
guess the number:25
guessed number is too high
guess the number:24
congratulations! you guessed the number 24 in 13 attempts.

In [ ]:
#crteate a while loop in fibonaaci series and factorial...