numeric data types

In [1]:
#integer data type
x=10 #integer value
y=20  #int value
z=x+y
print(x+y)

30

In [3]:
#python is dynamically typed-- you dint have the declare the type of varuiable
x=10
print(x)
print(type(x))

10
<class 'int'>

In [ ]:
#numeric operations
x=5
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)  #modulus operator(remainder)
print(x**y)
print(x//y) #quotient , integer value only (floor division)

In [4]:
x=10
y=3
z=x//y
print(z)

3

In [5]:
#negarive integrs
x=-10
print(abs(-10))  #absolute only the positive value of an integer

10

In [6]:
#floating point
height_mehreen=5.7 #flaoting point integer
weight_mehreen=60.5
bmi=weight_mehreen/height_mehreen**2
print(bmi)

1.8621114188981225

In [7]:
print(type(bmi))

<class 'float'>

In [8]:
#currency exchange financial caluclation
usd_amount=100.0
exchange_rate=0.85
eur_amount=usd_amount*exchange_rate
print(eur_amount)
print(f"equivalent in EUR: {eur_amount: .2f}") #format to 2 decimal places

85.0
equivalent in EUR:  85.00

In [9]:
#image processing #rgb to gray scale
pixel_red=0.3
pixel_green=0.6
pixel_blue=0.1
gray_scale=pixel_red*0.299+pixel_green*0.587+pixel_blue*0.114
print(gray_scale)

0.4533

In [10]:
#normalisation( float point to scale[0-1])-min-max scaling , scandard scaler #contribute equally to ML predicitve modelling
orig_value=85
min_value=80
max_value=100
norm_value=(orig_value-min_value)/(max_value-min_value)
print(f" scaled_value: {norm_value}")

 scaled_value: 0.25

In [12]:
#complex number representtion
a=3+4j
b=2+3j
z=a+b
print(z)

print(type(z))

(5+7j)
<class 'complex'>

all data types used for numerical operations and data types used for string operations are different. The data types used for numerical operations are int, float